@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
	position: relative;
	text-align: center;
	padding-top: 1em;
  background-color: #d4936a;
}

header img{
	width: 40px;
  left: -50px;
  position: relative;
}

header h1{
	display: inline;
  color: #552900;
}

.btn{
	display: inline;
  right: -50px;
	background-color: #552900;
	border-radius: 0.25em;
	padding: .25em;
	color: #fdd3aa;
	position: relative;
	bottom: 7px;
}

.btn:hover{
  background-color: #804915;
}

header nav li {
	display: inline;
	width: 25%;
	float: left;
	padding: 0.5em;
}

header nav ol {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header nav{
	background-color: #552900;
	margin-top: 1em;
}

header a{
	text-decoration: none;
	color: #fdd3aa;
}

header li:hover{
  background-color: #804915;
}

.banner img{
	width: 109.2%;
	margin: 0 -6%;
  padding-bottom: 1.5em;
}

.banner p{
	position: relative;
	top: -10rem;
	color: #fdd3aa;
	text-align: center;
	margin-bottom: -5em;
	width: 100%;
	text-shadow: 5px 5px 10px #552900;
}

.info li{
	display: inline-block;
	width: 32%;
}
.info{
	padding: 0;
}
.info dt{
	font-weight: bold;
}
.info dl, .info dd{
	margin: 0;
  color: #804915;
}

main {
  padding-top: 0;
	padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
	background-color: #fdd3aa;
}

main img{
	width: 100%;
}

h2{
	text-align: center;
  color: #552900;
}

h3{
  color: #552900;
}

p{
  color: #804915;
}

.wiki{
	width: 100%;
	background-color: #552900;
	text-align: center;
	padding: 0.5em;
	margin-bottom: 2em;
}
.wiki a{
	text-decoration: none;
	color: #fdd3aa;
}

.wiki:hover{
  background-color: #804915;
}

.buy{
	width: 100%;
	text-align: center;
}
.buy div{
background-color: #552900;
	padding: 0.5em 1em;
	margin: 0 2.65%;
	width: 44%;
	display: inline-block;
}
.buy a{
	text-decoration: none;
	color: #fdd3aa;
}

.buy div:hover{
  background-color: #804915;
}

.playing{
	width: 109.25%;
	background-color: #d4936a;
	text-align: center;
	padding: .5em;
	margin-bottom: -0.65em;
	margin-left: -6%;
	color: #552900;
	margin-top:2em;
}
figure{
	margin: 1em -1.15em 0 -1.15em;
}
.banner2 figcaption{
	position: relative;
	top: -11rem;
	color: #552900;
	text-align: center;
	margin-bottom: -7em;
	width: 100%;
	text-shadow: 1px 1px 1px #552900;
}

.btn2{
	display: inline;
	background-color: #552900;
	border-radius: 0.5em;
	padding: .4em;
	color: #fdd3aa;
	position: relative;
	text-shadow: none;
}
.btn2 a{
	text-decoration: none;
}

.btn2:hover{
  background-color: #804915;
}

.days ol{
	width: 75%;
	margin: 0;
	padding: 0;
}

.days{
  color: #552900;
}

main li{
  display: inline;
}

footer {
  padding: 0.5em;
  background-color: #804915;
}

footer p, aside{
  color: #fdd3aa;
}

footer a{
  text-decoration: none;
  color: #fdd3aa;
}

footer a:hover{
  color: #d4936a;
}
