@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.masthead {
  position: relative;
	text-align: center;
	padding-top: 1em;
  background-color: #d4936a;
}

.logo{
	width: 44px;
  left: -50px;
  position: inherit;
}

.btn{
	display: inline;
  right: -50px;
	background-color: #552900;
	border-radius: 0.25em;
	padding: .45em;
	position: inherit;
	bottom: 5px;
}

.btn a {
  text-decoration: none;
  color: #fdd3aa;
}

.btn:hover{
  background-color: #804915;
}

.title{
	display: block;
  color: #552900;
  font-size: 2.2rem;
  text-align: center;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #552900;
  clear: both;
}

.nav a {
  display: block;
  padding: 0.5em 1em;
  color: #fdd3aa;
  text-decoration: none;
  font-weight: bold;
  text-align: left;
}

.nav a:hover {
  background-color: #804915;
}

.banner figure {
	width: 106%;
	margin: 0 -3%;
}

.banner figcaption {
	position: relative;
	text-align: center;
	margin-bottom: -5em;
	width: 100%;
}

.banner p {
  margin: 0;
}

.info li{
	display: inline-block;
	width: 100%;
}
.info{
	padding: 0;
}
.info dt{
	font-weight: bold;
}
.info dl, .info dd{
	margin: 0;
  color: #804915;
}

main {
  padding-top: 0;
	padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
	background-color: #fdd3aa;
}

main img {
	width: 100%;
}

h2 {
	text-align: center;
  color: #552900;
  margin-top: 1em;
}

h3 {
  color: #552900;
}

p {
  color: #804915;
}

.wiki {
	width: 100%;
	background-color: #552900;
	text-align: center;
	padding: 0.5em;
	margin-bottom: 2em;
}
.wiki a{
	text-decoration: none;
	color: #fdd3aa;
}

.wiki:hover{
  background-color: #804915;
}

.buy{
	width: 100%;
	text-align: center;
}
.buy div{
  background-color: #552900;
	padding: 0.5em 1em;
	margin: 1.5% 2.65%;
	width: 44%;
	display: inline-block;
}
.buy a{
	text-decoration: none;
	color: #fdd3aa;
}

.buy div:hover{
  background-color: #804915;
}

.playing{
	width: 109.25%;
	background-color: #d4936a;
	text-align: center;
	padding: .5em;
	margin-bottom: -0.65em;
	margin-left: -6%;
	color: #552900;
	margin-top: 1em;
}
.banner2 figure{
  width: 106%;
	margin: 0 -3%;
}

.banner2 figcaption{
	position: relative;
	color: #552900;
	text-align: center;
	margin-bottom: -7em;
	width: 100%;
}

.btn2{
	display: inline;
	background-color: #552900;
	border-radius: 0.5em;
	padding: .4em;
	color: #fdd3aa;
	position: relative;
	text-shadow: none;
}
.btn2 a{
	text-decoration: none;
}

.btn2:hover{
  background-color: #804915;
}

.days ol{
	width: 75%;
	margin: 0;
	padding: 0;
}

.days{
  color: #552900;
}

main li{
  display: inline;
}

footer {
  padding: 0.5em;
  background-color: #804915;
}

footer p, aside{
  color: #fdd3aa;
}

footer a{
  text-decoration: none;
  color: #fdd3aa;
}

footer a:hover{
  color: #d4936a;
}
